<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<link rel="stylesheet" href="stylesheets/season-clock.css" media="screen">
<script type="text/javascript" src="javascripts/season-clock.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>

<meta name="description" content="{{ site.github.project_tagline }}">

<meta name="viewport" content="width=device-width,initial-scale=1">
